/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Box styling */
.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Pie chart box */
.pie-chart-box {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
}

/* Centering the boxes on larger screens */
@media (min-width: 768px) {
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
